.weight-loss {
  background-color: #f2f2f2;
}

.weight-loss__head-subtitle {
  text-transform: uppercase;
}

.weight-loss__footer__link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.weight-loss__main-text {
  color: $special_dark-grey;
}

.weight-gain {
  background-color: #f2f2f2;
}

.weight-gain__head-subtitle {
  text-transform: uppercase;
}

.weight-gain__footer__link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.weight-gain__main-text {
  color: $special_dark-grey;
}
