.main-header {
  margin: 0;
  padding: 13px 21px 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__navigation {
  margin: 0;
  display: none;
}

.main-header__link {
  display: flex;
  align-items: center;
}

.main-header-toggle--open {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/wrapper.svg");
  border: none;
  background-color: #ffffff;
}

.main-header-toggle--close {
  width: 24px;
  height: 24px;
  background-image: url("../../icons/wrapper_close.svg");
  border: none;
  background-color: #ffffff;
  display: none;
}

@media (min-width: $tablet-width) {
  .main-header-toggle--open {
    display: none;
  }

  .main-header__navigation {
    display: block;
  }

  .main-header {
    box-sizing: border-box;
    margin: 0;
    padding: 25px 30px 0;
  }

  .logo-text {
    padding-right: 94px;
  }
}
