.headline__subtitle {
  color: #111111;
  text-transform: uppercase;
}

.headline__text {
  color: $special_dark-grey;
}

.show-more__button {
  color: $special_dark-grey;
  text-transform: uppercase;
}
