.advantages {
  margin: 0 20px 49px;
  box-sizing: border-box;
}

.advantages__subtitle {
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.advantages__useful {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  gap: 20px;
}

.advantages__useful-substances-image {
  width: 60px;
  height: 60px;
  background-image: url("../../icons/useful_substances.svg");
}

.useful-substances-text-block {
  color: $special_dark-grey;
  width: 200px;
  min-height: 54px;
  margin: 0;
}

.advantages__quick-cooking-image {
  width: 60px;
  height: 60px;
  background-image: url("../../icons/quick_cooking.svg");
}

.advantages__functional-nutrition-image {
  width: 60px;
  height: 60px;
  background-image: url("../../icons/functional_nutrition.svg");
}

.advantages__time-change-image {
  width: 60px;
  height: 60px;
  background-image: url("../../icons/time-change.svg");
}

.advantages-block {
  display: flex;
  gap: 20px;
}
