.promotions__subtitle {
  color: #000000;
}

.subscribe-container__input {
  text-transform: uppercase;
}

.subscribe-container__button {
  text-transform: uppercase;
  color: #ffffff;
  background-color: $basic_green;
}
